*{
    margin: 0;
    padding: 0;
}

.container{
    width: 65%;
    padding: 30px;
    margin: auto;
}

.header{
    display: flex;
    background-color:#ebebeb ;
    padding-left: 10px;
}

.left{
    width: 95%;
}

.resume{
    font-family: Bookman Old Style;
    font-weight: 16;
    font-weight: bold;
    background-color: #00b7a5;
    color: white;
    width: 22%;
    padding: 10px 0px 10px 10px;
}
.img{
    
    float: right;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 5);
    cursor: pointer;
    transition: 0.5s;
    user-select: none;
    filter: grayscale(100%);
}

.img:hover
{
    filter: grayscale(0%);
    transform: scale(1.05);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 5);
}

.menu{
    width: 100%;
    margin-top: 5px;
    background-color:#383838;
}

.fa-mobile{
    width: 15px;
    height: 15px;
    padding:7px 5px 7px 10px;
    border-radius: 50%;
    color: white;
    background-color: #00b7a5;
}

.fa-linkedin{
    width: 15px;
    height: 15px;
    padding:6px 5px 6px 5px;
    border-radius: 50%;
    color: white;
    background-color: #00b7a5;
}

.fa-whatsapp{
    width: 15px;
    height: 15px;
    padding:7px 5px 7px 7px;
    border-radius: 50%;
    color: white;
    background-color: #00b7a5;
}

.fa-github{
    width: 15px;
    height: 15px;
    padding:7px 6px 6px 5px;
    border-radius: 50%;
    color: white;
    background-color: #00b7a5;
}

.fa-envelope{
    width: 15px;
    height: 15px;
    padding:7px 8px 7px 7px;
    border-radius: 50%;
    color: white;
    background-color: #00b7a5;
}

.span{
    padding-left: 20px;
}

.name{
    font-family: Bookman Old Style;
    font-size: 35px;
    font-weight: bold;
    color: darkblue;
}

.pro{
    color: red;
    font-family: Cambria;
    font-size: 20px;
}

/* Left and right */
.left-right{
    display: flex;
}

/* Left Area */
.left-1{
    width: 25%;
    margin-top: 5px;
    background-color:#383838;
    padding: 10px;
    color: white;
}

.Areas{
    padding: 5px 0 5px 0; 
    color: white;
    background-color: #00b7a5;
    font-family: Bookman Old Style;
    font-size: 12;
    font-weight: bold;
}

.sub{
    font-family: Cambria;
    font-size: 11;
    font-style: italic;
    padding-top: 5px;
}

.sub p{
    padding-top: 15px;
}

.Professional{
    padding: 5px 0 5px 0; 
    background-color:  #00b7a5;
    color: whitesmoke;
    font-family: Bookman Old Style;
    font-size: 12;
    margin-top: 30px;
    font-weight: bold;
}

.Professional-Skill{
    padding: 5px 0 5px 0; 
    background-color:  #00b7a5;
    color: white;
    font-family: Bookman Old Style;
    font-size: 12;
    font-weight: bold;
    margin-top: 30px;
}

/* Right Area */
.right-1{
    width: 75%;
    margin-top: 5px;
    padding: 10px;
    background-color: #ebebeb;
}

.Personal-Summary{
    padding: 5px 0 5px 0; 
    font-family: Bookman Old Style;
    font-size: 18px;
    font-weight: bold;
}

.summary{
    font-family: Cambria;
    font-style: italic;
    font-size: 11;
    text-align: justify;
}

.summary p{
    padding-top: 15px;
}

.Key-Skill{
    padding: 5px 0 5px 0; 
    font-family: Bookman Old Style;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.skill{
    display: flex;
    width: 100%;
    font-style: italic;
    font-family: Cambria;
    font-size: 11;
}

.skill-left{
    width: 50%;
}

.skill-left p{
    padding: 10px 0 0 20px;
}

.skill-right p{
    padding: 10px 0 0 20px;
}

.Synopsis-of-Projects{
    padding: 5px 0 5px 0; 
    font-family: Bookman Old Style;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
}

.project{
    font-style: italic;
    font-family: Cambria;
    font-size: 12;
}

/*Educational-Qualification*/
.Educational-Qualification{
    padding: 5px 0 5px 0; 
    font-family: Bookman Old Style;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.education p{
    padding: 20px 0 0 0;
    font-style: italic;
    font-family: Cambria;
    font-size: 12;
}

.personal p{
    padding: 10px 0 0 0;
    font-style: italic;
    font-family: Cambria;
    font-size: 12;
}

.Driving-License{
    padding: 5px 0 5px 0; 
    background-color:  #00b7a5;
    color: white;
    font-family: Bookman Old Style;
    font-size: 12;
    font-weight: bold;
    margin-top: 30px;
}

.Driving p{
    padding: 10px 0 0 0;
    font-style: italic;
    font-family: Cambria;
    font-size: 12;
}

/*professional */
.professional{
    padding: 5px 0 5px 0; 
    font-family: Bookman Old Style;
    font-size: 18px;
    font-weight: bold;
}

.p-qualification{
    display: flex;
}

.p-right p{
    padding: 20px 0 0 10px;
    font-style: italic;
    font-family: Cambria;
    font-size: 12;
    text-align: justify;
}

.p-left p{
    padding: 20px 0 0 0;
}

.Professional-Experience{
    padding: 5px 0 5px 0; 
    font-weight: bold;
    font-family: Bookman Old Style;
    font-size: 18px;
    margin-top: 30px;
}

.Roles-Responsibilities{
    padding-left: 30px;
    padding-top: 10px;
    font-size: 12;
    font-family: Cambria;
    font-style: italic;
}

.roles{
    display: flex;
}

.r-left p{
    padding: 20px 0 0 0;
}

.r-right p{
    padding: 20px 0 0 10px;
    font-style: italic;
    font-family: Cambria;
    font-size: 12;
    text-align: justify;
}

/* Professional-Language-Skill */
.Professional-Language-Skill{
    padding: 5px 0 5px 0; 
    font-weight: bold;
    font-family: Bookman Old Style;
    font-size: 18px;
    margin-top: 30px;
}

.Language-skill p{
    font-family: Cambria;
    font-size: 11;
    font-style: italic;
    padding: 15px 0 15px 0;
}

.references{
    background-color:#383838;
}

.flex{
    display: flex;
    font-family: Cambria;
    font-size: 12;
    font-style: italic;
}

.Non-Related-Reference{
    padding: 5px 0 5px 0; 
    background-color: #00b7a5;
    color: white;
    font-family: Bookman Old Style;
    font-size: 12;
}

.declaration p{
    font-family: Cambria;
    font-size: 11;
    font-style: italic;
    padding: 20px 0 0 10px;
}

.dec{
    padding: 10px;
}

.sig{
    display: flex;
    font-family: Cambria;
    font-style: italic;
    font-size: 12;
    padding-top: 30px;
}

.download{
    font-size: 18px;
    font-family: Cambria;
    text-decoration: none;
    border:none;
    padding: 15px 20px 15px 20px;
    border-radius: 50px;
    color: #383838;
    background-color: #00b7a5;
}

.download:hover{
    background-color: #383838;
    color: white;
    border: none;
}

.btn{
    margin-top: 30px;
}

